#navbar {
    background-color: #282828;
    background-image: none;
}
.navbar-text.navbar-version.pull-left {
    color: white;
}
#dLabelGlobalToc {
    color:white;
}
.navbar-default.navbar-brand {
    color:white;
}
#dLabelLocalToc {
    color:white;
}
h1 {
    margin-top:30px;
    margin-bottom:15px;
}
img {
    margin-bottom:50px;
}
.col-md-12.content {
    /* CSS for the text block goes here. */
}